.row {
  height: 100%;
}
main {
  background-color: #b36715;
  height: 100%;
}
#main-content {
  justify-content: center;
}

nav,
footer {
  background-color: #ff8604;
}

.nav-link {
  font-weight: bold;
  font-family: Comic Sans MS;

  color: #691fff;
}

.current-page-link {
  font-family: Comic Sans MS;

  background-color: #b36715;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: Comic Sans MS;
  font-weight: bold;
}
p {
  text-align: center;
  font-family: Comic Sans MS;
}

#footer-content {
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

div {
  height: 100%;
  width: 100%;
}
.card {
  background-color: #ff8604;
}
.card-image {
  justify-content: left;
  height: 50%;
  width: 50%;
}
.card-title,
.card-text {
  text-align: flex-end;
}
#address {
  text-align: center;
}

.map {
  margin-bottom: 10px;
}
